.header{
    text-align: center;
}
#text{
    text-align: center;
}

section{
    width: 80%;
}

/* Nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-tabs{
    flex: 1;
    text-align: center;
}
.nav-tabs ul{
    list-style: none;
}
.nav-tabs ul li {
    padding-right: 15px;
    display: inline-block;
}
.nav-tabs ul li a {
    font-size: 120%;
    text-decoration: none;
    position: relative;
}
/* Hovering Effect */
.nav-tabs ul li a::after{
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0px;
    opacity: 0;
}
.nav-tabs ul li a:hover::after{
    opacity: 1;
}
/* Side Bar Style */
.side-bar-data{
    height: 400px;
    width: 225px;
    padding: 0px 10px 0px 10px;
    position: relative;
    float: right;
    background-color: #ACC8E5;
}
.side-bar-data2{
    height: 250px;
    width: 225px;
    padding: 15px 10px 0px 10px;
    position: relative;
    float: right;
    background-color: #ACC8E5;
}
.side-bar-realistic{
    height: 250px;
    width: 200px;
    padding: 0px 10px 0px 10px;
    position: relative;
    float: right;
    background-color: #ACC8E5;
}
#side-bar-realistic2{
    height: 325px;
    width: 200px;
    padding: 0px 10px 0px 10px;
    position: relative;
    float: right;
    background-color: #ACC8E5;
}
.side-bar h4{
    text-align: center;
}
.side-bar p{
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

/* Blue Bold Effect */
.blue-bold{
    color: darkblue;
    }
    #research-bold{
        font-weight: bold;
    }